{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Blog</title>
{% endblock meta %}
{% block content %}

    <!-- blog -->
    <div class="parent-div d-flex align-items-center justify-content-center">
        
        <div class="child-div" style="padding: 50px;">
            
            <p class="text-center" style="font-size:1.8vw; color:darkorange;"><b>
                <br><br>THBT it is a sin for moderate followers of religion to not publicly actively<br>
                criticize extreme interpretation of their religion (CONS)
            </b></p>

            <div style="padding:25px; border:2px;">                  
                <p class="text-justify" id="roundborder">
                    There is a narration "You must remind others. If you don't, you are sinner. If you do,
                    you will be blessed by God". Because of this narration, extremists interpret that they must share
                    their extreme interpretation toward society actively and conservatively. This narration is true
                    but need more explanation. What is the substance, on how, in which situation you can remind
                    others.<br><br>

                    Beside that, there is other naration "Our religion is truest". Because of this naration,
                    extremist interpret that the others is wrong and they must fight for truth over something wrong.
                    But, they forget that religion is faith / belief for followers of that religion, not the truth for all
                    people. Therefore, they do discriminate even attack toward other religion followers. "It's
                    wrong. It's harom. Their blood is halal," they said. They also forget that the value of religion is
                    peace for society, whatever their religions. If non action is taken, society will be chaos.<br><br>

                    The high rise of extremist is also followed by the high rise of moderate movement.
                    Moderate movement and extremist is contradicted. They can choose to do publicly / unpublicly,
                    actively / inactively criticizing extreme interpretation of their religion. Is it sin / not?<br><br>

                    It is not sin for moderate followers of religion to not publicly actively criticize extreme
                    interpretation of their religion. With this position, we advocate both actor, moderate movement
                    and extremist, in order they won't attack each other.<br><br>

                    Our arguments are: 1. Why it is philosophically justify?; 2. Why opposite's team
                    scenario will be worse?; 3. On how our team scenario will good for all site and the only way
                    to do?<br><br>

                    <b>1. Why it is philosophically justify?</b><br><br>

                    First, it is not sin. Sin is acts that violate religious law. The religious law have more
                    explanation, so you cannot simply decide it's sin. It is not a sin for moderate followers of
                    religion to not publicly actively criticize extreme interpretation of their religion because it<br><br>

                    doesn't mean they let extremist to make society chaos. There are many ways to solve this
                    problem. They can actively share their moderate interpretation to overshadow extreme
                    interpretation.<br><br>

                    Second, if it is a sin, it means moderate movement is the same as extremist. That is
                    because we cannot see further explanation of that religious law as extremist does. It also break
                    the moderate value because the nature of moderate movement is open minded. They like to
                    search further explanation in order there is no extreme interpretation which can make society
                    chaos.<br><br>

                    <b>2. Why opposite's team scenario will be worse?</b><br><br>

                    It is a sin for moderate followers of religion to not publicly actively criticize extreme
                    interpretation of their religion which means moderate movement must do it. If moderate
                    movement do it, extremist can say moderate movement is "devian sect", "liberalism",
                    "westernized", "kafeer", "haroom", "deviated from religion", etc because moderate
                    interpretation is different and more open than extreme interpretation.<br><br>

                    We know that extremist site is conservative and have much power to provoke society
                    which means it is bad for moderate movement. They can attack each other. There will be
                    divisions between adherents of the religion itself.<br><br>

                    Society who see it can interpret that religion is bad just because the messy followers of
                    that religion. Society can be confuse about which interpretation are true so that society will
                    experience an identity crisis. Identity, especially religion is crucial because when human born,
                    their parent will give religion to them. Society activity will be disturbed because this crucial
                    things. Not to mention, if societiy is divided by 2, extremist and moderate movement, they can
                    attack each other. It can make chaos in society.<br><br>

                    <b>3. On how our team scenario will good for all site and the only way to do?</b><br><br>

                    Our scenario is the only way to do. We cannot do that because it can make chaos in
                    society. The only way we can do is actively share moderate interpretation without actively<br><br>

                    publicly criticize extremist which can make a war. Our moderate interpretation will spread to
                    all society. It will weaken extremist and they have no power to make chaos in our society.<br><br>

                    It will be good for all side. First, extremist will be weaken so they cannot hurt society.
                    Second, there is no war between extremist and moderate movement. Third, society will get
                    good interpretation of their religion.
                </p>            
            </div>

        </div>
    </div>     

{% endblock content %}
