{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Peserta</title>
{% endblock meta %}

{% block content %}
    
    <div class="parent-div d-flex align-items-center justify-content-center">
        <div class="child-div" style="padding: 100px;">
            
            <p class="text-center" style="font-size:1.8vw"><b>LIST PESERTA</b></p>

            <p class="text-center"> 
                Untuk menampilkan list kegiatan kembali
                <a href="/kegiatan/list_kegiatan">klik di sini<br/><br></a>
            </p>

            <!-- Specify fields to be displayed -->

            
            {% for i in dataset %} 
            {{ i.namaPeserta }} <br/>
            {% endfor %} 
            
                        
            

        </div>
    </div>

    

    
{% endblock content %}
