{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Kegiatan</title>
{% endblock meta %}

{% block content %}
    
    <div class="parent-div d-flex align-items-center justify-content-center">
        <div class="child-div" style="padding: 100px;">
            
            <p class="text-center" style="font-size:1.8vw"><b>LIST KEGIATAN</b></p>

            <p>
                Untuk menginput kegiatan kembali
                <a href="/kegiatan/create_kegiatan">klik di sini</b><br><br></a> 
            </p>

            {% for data in dataset %}
  
            <b>{{ data.namaKegiatan }}</b> </br>
            {{ data.deskripsi }} </br>
            
            <a href="/kegiatan/register_kegiatan/{{ data.id }}" id="{{ data.id }}">
                <button type='button' class="btn btn-link" style="font-size: 1.3vw">Tambah Peserta</button>
            </a>
            </br>
            <a href="/kegiatan/list_peserta/{{ data.id }}" id="{{ data.id }}">
                <button type='button' class="btn btn-link" style="font-size: 1.3vw">List Peserta</button>
            </a>
            <br/> 
            <hr/> 
        
            {% endfor %} 
                
            
        </div>
    </div>

    

    
{% endblock content %}
