{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register Kegiatan</title>
{% endblock meta %}

{% block content %}
    
    <div class="parent-div d-flex align-items-center justify-content-center">
        <div class="child-div" style="padding: 100px;">
            
            <p class="text-center" style="font-size:1.8vw"><b>REGISTER KEGIATAN</b></p>
            
            <p class="text-center"> {{  namaPeserta }} <br>

            
                Untuk melihat list kegiatan
                <a href="/kegiatan/list_kegiatan">klik di sini<br><br></a>
            </p>

            <form method="POST" enctype="multipart/form-data"> 
  
                <!-- Security token -->
                {% csrf_token %} 
                 
                <!-- Using the formset -->
                {{ form.as_p }} 
                
                
                  
                <p><input type="submit" class="btn btn-primary" style="font-size: 1.3vw;" value="Submit"></p> 
            </form> 
            
            

        </div>
    </div>

    

    
{% endblock content %}
