{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
    <!-- navbar atas -->
    <div class="topnav"> 
      
      <!-- kotak kegiatan-->
      <div style="float: right;">
        <a href="{% url 'kegiatan:create_kegiatan' %}">Kegiatan</a>
      </div>  
      
      <!-- kotak matkul-->
      <div style="float: right;">
          <a href="{% url 'matkul:create_matkul' %}">Matkul</a>
      </div>

      <!-- kotak skill & swot  -->
      <div style="float: right;">
          <a href="{% url 'main:home' %}#section3" >Skill & SWOT</a>
      </div>

      <!-- kotak track record  -->
      <div style="float: right;">
          <a href="{% url 'main:home' %}#section2" >Track Record</a>
      </div>

      <!-- kotak intro -->
      <div style="float: right;">
          <a href="{% url 'main:home' %}#section1" >Intro</a>
      </div>
  </div>

  <!-- navbar bawah -->
  <div class="footer">
      <!-- button ig -->
      <div style="float: right;">
          <a href="https://www.instagram.com/ferdifdi/">
              <img src="{% static 'img/iglogo.png' %}" class="ikon">
          </a>
      </div>
      
      <!-- button linkedin  -->
      <div style="float: right;"> 
          <a href="https://www.linkedin.com/in/ferdifdi/">
              <img src="{% static 'img/linkedinlogo.png' %}" class="ikon">
          </a>
      </div>
  </div>    
</body>
  {% block content %}
  {% endblock content %}
</html>
