{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil</title>
{% endblock meta %}

{% block content %}

    <!-- intro section -->
    <div id="section1" class="parent-div d-flex align-items-center justify-content-center">
        
        <div class="child-div">
            
            <p class="text-center" style="font-size:1.8vw"><b>FERDI FADILLAH</b><br><br></p>

            <div class="columnfoto" style="margin-left:10%;">
                <img src="{% static 'img/ferdi.jpeg' %}" style="width:75%;height:75%;">
            </div>

            <div class="columndesc" style="margin-right:10%">
                
                <p  class = "text-justify teksintro">
                    Hello, my name is Ferdi. 
                    I'm currently pursuing a Bachelor of Computer Science at the Universitas Indonesia. 
                    I built this website to showcase my experience and achievement. 
                    I welcome the opportunity to connect with recruiters 
                    regarding Editorial Marketing and Web Development.
                    
                    <br><br>As an individual from a unique background, 
                    I bring a different set of skills and experiences 
                    to the tech industry. I have interned for web development 
                    in BEM Fasilkom UI, and have also worked as Editorial Marketer.
                </p>
            </div>

        </div>
    </div> 
    <hr class="hrcss">        

    <!-- track record section -->
    <div id="section2" class="parent-div d-flex align-items-center justify-content-center">
        <div class="child-div">
            
            <p class="text-center" style="font-size:1.8vw"><b>TRACK RECORD</b><br><br></p>

            <div class="columntr" style="background-color:#FFE08E; margin-left:5%; margin-right:5%">
                <p class="text-center heading"><b>EDUCATION</b></p>
                <p class = "text-justify">
                    Universitas Indonesia<br>
                    Bachelor of Computer Science<br>                
                    (2019-now)<br><br>              
                    
                    SMAN5 Bengkulu<br>                
                    Natural Science<br>                
                    (2015-2018) 
                </p>            
              </div>
              
              <div class="columntr" style="background-color:#FFE08E; margin-right:5%">
                <p class="text-center heading"><b>EXPERIENCE</b></p>
                <p class = "text-justify">
                    Staff of Human Resource Development
                    DPM Fasilkom UI<br>
                    (2019-present)<br><br>
    
                    Staff of Editorial Marketing
                    COMPFEST<br>
                    (Feb 2020 – present)<br><br>
    
                    Interned in the Web Development Division of
                    Fasilkom UI BEM School<br>
                    (October – December 2019)<br><br>
    
                    Adjudicator in Senior High School
                    English Debate Competition
                    Bengkulu Province<br>
                    (16th, 17th, 19th February 2019)
                </p>
              </div>

              <div class="columntr" style="background-color:#FFE08E; margin-right:5%">
                <p class="text-center heading"><b>ACHIEVEMENT</b></p>
                <p class = "text-justify">
                    Third Place in the UNIB
                    Senior High School And University
                    Indonesian Debate Championship
                    (2019)<br><br>
    
                    Second place in the 2017 UNIB
                    South Sumatran Senior High School
                    Math Campionship<br>
                    (2017)
                </p>                
              </div>

        </div> 
    </div>
    <hr class="hrcss"> 

    <!-- skill & swot -->
    <div id="section3" class="parent-div d-flex align-items-center justify-content-center">
        <div class="child-div">
            
            <p class="text-center" style="font-size:1.8vw"><b>SKILL & SWOT</b><br><br></p>

            <div class="columnskill" style="background-color:#FFE08E; margin-left:10%; margin-right:10%">
                <p class="text-center heading"><b>SKILL</b></p>
                <p  class = "text-justify">          

                    Academic<br>
                    • Critical Thinking<br>
                    • Problem Solving<br>
                    • Math, Logic, and Programming<br>
                    Non Academic<br>
                    • Critical Thinking<br>
                    • Public Speaking<br>
                    • Social Skill<br>
                    • Social Media Branding Skill<br>
                    • Debate Skill<br>
                    • Adjudicate Skill<br>
                    • Writing Skill<br>
                    • Content Creating Skill<br>
                </p>   
              </div>

              <div class="columnskill" style="background-color:#FFE08E;margin-right:10%">
                <p class="text-center heading"><b>STRENGTH & WEAKNESS</b></p>
                <p  class = "text-justify">
                    • Doing strategically,
                    but sometimes lack of clear vision in the future<br>
                    • Practical,
                    but sometimes lack of philosophical things<br>
                    • Brave to do something directly,
                    but sometimes ignoring the effect<br>
                    • More idealism, but still realistic<br>
                    • Energetic & Enthusiastic<br>
                    • Humble & Approachable<br>
                    • Introspective & Improved
                </p>
              </div>

        </div>
    </div>

{% endblock content %}
