{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Delete Matkul</title>
{% endblock meta %}

{% block content %}
    
    <div class="parent-div d-flex align-items-center justify-content-center">
        <div class="child-div" style="padding: 100px;">
            
            <form method="POST"> 
                <!-- Security token by Django -->
                {% csrf_token %} 
                Are you want to delete this item ? 
                <input type="submit" value="Yes" /> 
                <a href="/matkul/list_matkul">Cancel </a> 
            </form> 
                    
        </div>
    </div>

    

    
{% endblock content %}
