{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Matkul</title>
{% endblock meta %}

{% block content %}
    
    <div class="parent-div d-flex align-items-center justify-content-center">
        <div class="child-div" style="padding: 100px;">
            
            <p class="text-center" style="font-size:1.8vw"><b>DETAIL MATKUL</b></p>

            <p class="text-center"> 
                Untuk menampilkan list matkul kembali
                <a href="/matkul/list_matkul">klik di sini<br/><br></a>
            </p>

            <!-- Specify fields to be displayed -->

            <table >
                <tr>
                  <th>Nama</th>
                  <td>{{ data.namaMatkul }}</td>
                </tr>
                <tr>
                    <th>SKS</th>
                    <td>{{ data.sks }}</td>
                  </tr>
                <tr>
                  <th>Dosen</th>
                  <td>{{ data.dosen }}</td>
                </tr>
                <tr>
                  <th>Deskripsi</th>
                  <td>{{ data.deskripsi }}</td>
                </tr>
                <tr>
                  <th>Tahun</th>
                  <td>{{ data.tahun }}</td>
                </tr>
                <tr>
                  <th>Ruang</th>
                  <td>{{ data.ruang }}</td>
                </tr>
            </table>           
            
                    
        </div>
    </div>

    

    
{% endblock content %}
