{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Matkul</title>
{% endblock meta %}

{% block content %}
    
    <div class="parent-div d-flex align-items-center justify-content-center">
        <div class="child-div" style="padding: 100px;">
            
            <p class="text-center" style="font-size:1.8vw"><b>LIST MATKUL</b></p>

            <p>
                Untuk menginput matkul kembali
                <a href="/matkul/create_matkul">klik di sini</b><br><br></a> 
            </p>

            {% for data in dataset %}
  
            {{ data.namaMatkul }},
            {{ data.sks }}SKS
            
            <a href="/matkul/{{ data.id }}/delete" id="{{ data.id }}">
                <button type='button' class="btn btn-link" style="font-size: 1.3vw">Delete</button>
            </a>
            <a href="/matkul/{{ data.id }}" id="{{ data.id }}">
                <button type='button' class="btn btn-link" style="font-size: 1.3vw">Detail</button>
            </a>
            <br/> 
            <hr/> 
        
            {% endfor %} 
                
            
        </div>
    </div>

    

    
{% endblock content %}
